
.hund1{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.hund1header{
    text-align: center;
}

.hund1text{
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

.sociala-links{
    width: 20px;

}

.sociala-medier ul{
    margin-bottom: 15px;
    margin-left: 15px;
}

.copyright{
    text-align: center;
    margin-top: -60px;
    color: white;
}

.footer{
    margin-top: 8rem;
    block-size: 5rem;
    background-color: rgb(214, 84, 84);
}

.logo{
    width: 30px;
    margin-top: 10px;
    }

.hund1header{
    margin-top: -30px;
}

.hund2{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.hund2{
    text-align: center;
}

.hund2text{
    text-align: center;
}

.logo{
    width: 30px;
    margin-top: 10px;
    }

.hund2header{
    margin-top: -30px;
    text-align: center;
}

.hund3{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.hund3header{
    text-align: center;
}

.hund3text{
    text-align: center;
}

.logo{
    width: 30px;
    margin-top: 10px;
    }

.hund3header{
    margin-top: -30px;
    text-align: center;
}

.hund4{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.hund4header{
    text-align: center;
}

.hund4text{
    text-align: center;
}

.logo{
    width: 30px;
    margin-top: 10px;
    }

.hund4header{
    margin-top: -30px;
    text-align: center;
}

.hund5{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.hund5header{
    text-align: center;
}

.hund5text{
    text-align: center;
}

.logo{
    width: 30px;
    margin-top: 10px;
    }

.hund5header{
    margin-top: -30px;
    text-align: center;
}

.hund6{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.hund6header{
    text-align: center;
}

.hund6text{
    text-align: center;
}

.logo{
    width: 30px;
    margin-top: 10px;
    }

.hund6header{
    margin-top: -30px;
    text-align: center;
}

.brown{
    background-color: saddlebrown;
}

.pink{
    background-color: pink;
}

.turqoise{
    background-color: turquoise;
}

.purple{
    background-color: purple;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
}

.puppy{
    padding: 50px;
}


