* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
/* desktop first */
.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 10rem;
  grid-template-rows: 3rem 0 auto 0;
}
header {
  padding-top: 0.2rem;
  background-color: #e08b8b;

  grid-row: 1/2;
  grid-column: 1/3;
}

main {
  padding: 1rem;
  background-color: orange;

  grid-row: 3/4;
  grid-column: 1/2;
}
aside {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  background-color: #c2ddc8;

  grid-row: 3/4;
  grid-column: 2/3;
}
footer {
  background-color: #99bfb3;

  text-align: center;
  block-size: 5rem;

  grid-row: 4/5;
  grid-column: 1/3;
  background-color: rgb(214, 84, 84);
}

/* mobile breakpoint*/

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: sticky;
  top: 0;

  grid-row: 2/3;
  grid-column: 1/3;
}
.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}
.navbar ul li {
  font-family: century;
  font-size: 1.1rem;
  font-weight: bold;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 8px 25px;
  transition: all 0.5s ease;
}
.navbar ul li a:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}

.sociala-links {
  width: 20px;
}

.sociala-medier ul {
  margin-bottom: 1px;
  margin-left: 15px;
}

.copyright {
  text-align: center;
  margin-top: -60px;
  color: white;
}

.sociala-medier li {
  margin: 15px;
  margin-top: -15px;
}

.box {
  margin: 1px;
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 60px;
  border: 1px solid black;

  align-items: center;
  text-align: justify;
  padding: 23px;
  border-radius: 15px;
  background: linear-gradient(to top, rgb(255, 45, 45) 50%, rgb(0, 0, 0) 50%);
  background-size: 100% 200%;
  transition: all 0.8s;
}

.box:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(255, 45, 45);
}

.box img {
  margin-top: -7px;
  width: 70px;
  height: 70px;
  background-color: white;
  padding: 1px;
}

.maintext {
  font-size: 1.8rem;
  text-align: center;
}

.logo {
  width: 30px;
  margin-top: 5px;
}

.namn {
  text-align: center;
  margin-top: -40px;
}
.hundprojekt {
  color: white;
  text-align: center;
}
.hundbild {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hassan {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
}

.hassanlorem {
  font-size: 1.3rem;
  color: white;
  text-align: center;
}

.logo {
  width: 30px;
  margin-top: 5px;
}

.namn2 {
  text-align: center;
  margin-top: -40px;
}

.infohassan {
  color: white;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 20px 0px;
}

input {
  padding: 12px;
  margin: 15px;
  width: 220px;
  border: none;
  outline: none;
}

.logo {
  width: 30px;
  margin-top: 5px;
}

.kontakt {
  text-align: center;
  margin-top: -40px;
}

.kontaktinfo {
  color: white;
  text-align: center;
}

.wrapper2 {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 0;
  grid-template-rows: 3rem 0 auto 0;
}

.blue {
  background-color: blue;
}

.red {
  background-color: purple;
}

@media (max-width: 550px) {
  .wrapper {
    grid-template-columns: auto auto;
    grid-template-rows: 8rem 0 auto 8rem 6rem;
  }
  header {
    grid-column: 1/2;
  }
  nav {
    grid-column: 1/2;
  }
  aside {
    grid-column: 1/2;
    grid-row: 4/5;
    flex-direction: row;
    margin-top: -10px;
  }
  footer {
    grid-row: 5/6;
    grid-column: 1/2;
  }
}
